*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
}

/* Common Styling */
.section-title{
    color: #272727;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 15px;
}
.section-desc{
    width: 500px;
    margin: auto;
}
.description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 10px;
}
.btn{
    padding: 18px 35px;
    border: none;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}
/* Banner Section Styling Start */
.banner-container{
    background: rgba(229, 84, 115, 0.10);
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 400px;
    padding: 0px 200px;
}
.banner-title{
    color: #272727;
    width: 600px;
    font-size: 70px;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 10px;
}
.banner-img{
    width: 450px;
    height: 560px;
    margin-top: 40px;
}

    /* Flower Section Styling Start */

.flower-container{
    text-align: center;
    margin: 50px 250px;
}
.flower-box-container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;    
}
.flower-box{
    text-align: center;
}

.flower-box > img {
    width: 300px;
    height: 350px;
    padding: 80px 40px 0px 40px ;
    border-radius: 300px 300px 0px 0px;
}
.flower-img1{
    background: rgba(167, 33, 98, 0.15);
}
.flower-img2{
    background: rgba(5, 151, 160, 0.15);
}
.flower-img{
    background: rgba(71, 125, 17, 0.15);
}
.flower-box > p{
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;
    margin-top: 20px;
    text-decoration-line: underline;
}

/* Services Section Styling Start */
.service-container{
    display: flex;
    margin: 100px 295px;
    justify-content: space-around;
    gap: 5px;
    align-items: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}
.service-box{
    text-align: center;
    padding:  60px 100px;
}
.service-box > img{
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}
.service-box > h4{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
}

/* Deal Section Styling Start */
.deal-container{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    gap: 200px;
    align-items: center;
    padding: 50px 400px ;
    height: 400px;
    margin-bottom: 100px;
}
.deal-img{
    width: 260px;
    height: 350px;
}
.deal-text-content{
    text-align: center;
}
.deal-text-content > p{
    width: ;
}
.section-title > span{
 color: #E55473;
}

/* Instagram Section Styling Start */
.insta-container{
    text-align: center;
    margin: 50px 200px;
}
.insta-container > p{
    width: 600px;
    margin: auto;
}
.insta-img-container{
    margin-top: 30px;
}
.insta-img-container > img{
    width: 300px ;
    height: 350px;
    margin-right: 15px;
}

/* Latest Deal Section Styling Start */
.latestDeal-container{
    margin: 100px 334px 100px 317px;
    text-align: center;
    background-image: url('./Assets/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 380px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.latestDeal-form{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.latestDeal-form > input[type="email"]{
    padding: 20px 400px 20px 20px ;
    border: none;
    text-align: left;
    border-radius: 8px;
    margin-right: 20px;
    font-size: 10px;
    outline: none;

}
.latestDeal-form > input[type="submit"]{
    padding: 15px 25px 15px 25px;
}

/* Footer Section Styling Start */
#footerSection{
    display: flex;
    height: 300px;
    background: #111010;
    justify-content: center;
    align-items: center;
}
.footer{
    text-align: center;
}
.footer-logo {
    color: white;
}
.footer-logo > span{
    color: #E55473;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 15px;
}
.footer > p{
    width: 600px;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.copy-text{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Flower Search Styling Start (Bonus Section ;) */

#flowerSearch{
    background-image: url('./Assets/form-bg.webp'), linear-gradient(rgba(33, 32, 32, 0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 400px;
}
.flower-search-container{
   width: 400px;
   background:white ;
   padding: 25px 250px 25px 35px;
   border-radius: 10px;

}
.filedset-container{
    display: flex;
    justify-content: ;
    margin-bottom: 20px;
}
.filedset-container > fieldset{
    border-radius: 0px 5px 5px 5px;
    margin-right: 20px;
    /* padding: 10px 50px 10px 5px ; */
}
.sending-input{
    width: 230px;
    padding: 10px 0px 10px 5px ;
    border: none;
    font-size: 15px;
    outline: none;
    
}
.date-input{
    width: 220px ;
    padding: 10px 0px 10px 5px ;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    outline: none;
    
}
.flower-search-btn{
    padding: 18px 15px ;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    color: white;
    background: #E55473;
    border: none;
}
.flower-search-container > h1{
    font-size: 26px;
    margin-bottom: 5px;
}